extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li(style="margin-top:15px;")
                a(href="mailto:#{user.email}")= user.email
                <br>
                a(href="mailto:#{user.email}")= user.username
                <br>
                a(href="/delete/#{user._id}") Delete
                &nbsp;&nbsp;&nbsp;
                a(href="/updateuser/#{user._id}") Update